@import url("catppuccin.css");

:root {
	font-family: "Hack Nerd Font", "Hack", monospace, sans-serif;

	background-color: var(--ctp-latte-base);
	color: var(--ctp-latte-text);
}

main {
	border-color: var(--ctp-latte-crust);
}

code {
	line-height: 2em;
	padding: 0.25em 0.5em;

	background-color: var(--ctp-latte-surface0);
	color: var(--ctp-latte-subtext1);
}

#output {
	padding: 0.5em 1em;
	display: block;

	color: var(--ctp-latte-subtext0);
}

a {
	color: var(--ctp-latte-pink);
}

a:hover {
	color: var(--ctp-latte-rosewater);
}

a:active {
	color: var(--ctp-latte-blue);
}

a:visited {
	color: var(--ctp-latte-mauve);
}

#file {
	font-size: larger;
	padding: 1em;
	border: none;
	display: block;
	text-align: center;
}

progress {
	width: 100%;
	border: 2px solid;

	border-color: var(--ctp-latte-text);
	background-color: var(--ctp-latte-base);
	color: var(--ctp-latte-pink);
}

::-moz-progress-bar,
::-webkit-progress-bar {
	background-color: var(--ctp-latte-pink);
}

#max-upload-size,
#files-stored,
#storage-used {
	font-weight: bold;
}

@media (prefers-color-scheme: dark) {
	:root {
		background-color: var(--ctp-mocha-base);
		color: var(--ctp-mocha-text);
	}

	code {
		background-color: var(--ctp-mocha-surface0);
		color: var(--ctp-mocha-subtext1);
	}

	#output {
		color: var(--ctp-mocha-subtext0);
	}

	a {
		color: var(--ctp-mocha-pink);
	}

	a:hover {
		color: var(--ctp-mocha-rosewater);
	}

	a:active {
		color: var(--ctp-mocha-blue);
	}

	a:visited {
		color: var(--ctp-mocha-mauve);
	}

	progress {
		border-color: var(--ctp-mocha-text);
		background-color: var(--ctp-mocha-base);
		color: var(--ctp-mocha-pink);
	}

	::-moz-progress-bar,
	::-webkit-progress-bar {
		background-color: var(--ctp-mocha-pink);
	}
}

@media (min-width: 992px) {
	main {
		margin: auto;
		padding: 1em;
		display: block;
		border: 2px solid;
		width: 75%;
	}
}
